<div class="row justify-content-center align-items-center"
style="height: 15vh; margin: 0;">
<div class="col-md-6">
        <div style="display:none;" id="errorMsg" class="alert alert-primary alert-dismissible fade show" role="alert">
                  <i id="messageBody"></i>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
          </button>
        </div>
</div>
</div>
<div class="row justify-content-center align-items-center" style="height: 30vh; margin: 0;">
    
    <div class="vertical-menu">
        <a [routerLink]="['/define-score-range']" style="text-align-last: center;font-size: large;">Define Score Range</a><br> <br>
        <a routerLink="view_score_range" style="text-align-last: center;font-size: large;">View Score Range</a><br> <br>
        <a  onclick="deleteFunc()" style="text-align-last: center;font-size: large;">Delete All Score Range</a>
    </div>
</div>
