
               <div class="img" style="height: 92vh;">

                    <div class="row justify-content-center align-items-center" style="height: 50vh; margin: 0;">
                        
                        <div class="col-md-6">
                            <div style="display:none;" id="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                                      <i id="messageBody"></i>
                            </div>
                        </div>
                        
                        <div class="w-100"></div>
                        
                        <div class="col-md-6 text-center" style="box-shadow: 5px 8px 18px -8px rgba(0, 0, 0, 0.5); border-radius: 10px; height:32vh;">
                               
                             <form class="mx-auto formstyle" (submit)="login()" ngNativeValidate style="font: message-box;opacity: 0.8;border-radius: 10px;background-color: black;color: white;padding:0 20px;"> 
                                <div class="mx-auto formstyle" style="font: message-box;opacity: 0.8;border-radius: 10px;background-color: black;color: white;padding:0 20px;">
                                <div class="row justify-content-center align-items-center" style="height:300px">
                                    <div class="col">
                                        <h3>Student Login</h3>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            Student ID
                                                        </div>
                                                    </div>
                                                    <input type="number" autocomplete="off" [(ngModel)]="studentid" [ngModelOptions]="{standalone: true}" id="studentid" class="form-control"
                                                      placeholder="registration number" min="0" required autofocus>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            E-mail
                                                        </div>
                                                    </div>
                                                    <input type="email" autocomplete="off" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="email" class="form-control" 
                                                placeholder="example@domain.com" required>
                                                </div>
                                            </div>
                                            <input type="submit" class="btn btn-primary" value="Sign In"> &nbsp;
                                            <input type="reset" class="btn btn-primary" > <br>
                                          
                                    </div>
                                </div>
                                </div></form></div></div></div>
                           
                    