 <br><div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card border-secondary">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center" style="height: 0vh; margin: 0;">
                            <div>
                                <h3>Result</h3>          
                            </div>
                        </div>                
                    <div class="card-text">
                        <h3>Student Details</h3>
                            <table border=1 class=table table-hover class="table">
                                    <thead>
                                        <tr>
                                            <th>Register No</th><th>{{studentGrade.regNo}}</th>
                                            <th>Student Name</th><th>{{studentGrade.studentName}}</th>
                                        </tr></thead>
                            </table>
                            <h3> Marks</h3>
                        <table border=1 class=table table-hover class="table">
                            <thead>
                                <tr>
                                        <th >Subject Name</th><th>Marks</th>
                                </tr></thead>
                            <tbody>
                                 <tr *ngFor="let data of marks">
                                       <td>{{data.subjectName}}</td>
                                       <td>{{data.mark}}</td>
                                       
                                    </tr>
                                    <tr>
                                            <td>Average</td><td>{{studentGrade.avg}}</td>
                                        </tr>
                                <tr>
                                    <td>Grade</td><td>{{studentGrade.grade}}</td>
                                </tr>
                                   
                            </tbody>
                            </table>    <br><br> 
                    </div>
                </div>
            </div>
        </div>
    </div> 
