<!-- <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card border-secondary">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center" style="height: 20vh; margin: 0;">
                            <div>
                                <h3>Result</h3>
                                <br>
                            </div>
                        </div><br>
                        
                    <div class="card-text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Register No</th><th>{{data.student.regno}}</th>
                                    <th>Student Name</th><th>{{data.student.name}}</th>
                                    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card border-secondary">
                <div class="card-body">                                    
                </div>
            </div>
        </div>
    </div>                               
                    </div>
                </div>
            </div>
        </div>
    </div> -->
