<div class="row justify-content-center align-items-center"
		style="height: 15vh; margin: 0;">
		<div class="col-md-6">
				<div style="display:none;" id="errorMsg" class="alert alert-primary alert-dismissible fade show" role="alert">
				  		<i id="messageBody"></i>
				</div>
		</div>
	</div>
	
	<div class="row justify-content-center align-items-center" style="height: 15vh; margin: 0;">
		<div class="form-group">
				<div id="gradeMsg"></div>
			<form ngNativeValidate (submit)="updateRanges()">
			<h3>Define Score Range</h3><br>

			<!-- {{grades | json}} -->
		
			<table border="0">
				<thead><tr><th>Grade</th><th>Min</th> <th>Max</th></tr></thead>
				<tbody>
					<tr *ngFor="let g of grades;let i= index">
						<td><input type="text" disabled id="" value={{g.grade}} ></td>
						<td> <input type="number" name="" id="min{{i+1}}"  value="{{g.min}}" min="0" max="100" (keyup)="validateMarkChange($event,this)">   </td>
						<td> <input type="number" name="" id="max{{i+1}}"  value="{{g.max}}" min="0" max="100" (keyup)="validateMarkChange($event,this)">   </td>
					</tr>
					<tr><td colspan=3><button class="btn btn-primary form-control" value="Submit" style="margin: 10px;width: 35vh;" >Submit</button></td></tr>
				</tbody>
			</table>
			
				
						</form>
		</div>
	</div>
	<script>
       
            
    </script>