<div class="row justify-content-center align-items-center"
		style="height: 15vh; margin: 0;">
		<div class="col-md-6">
				<div style="display:none;" id="errorMsg" class="alert alert-primary alert-dismissible fade show" role="alert">
				  		<i id="messageBody"></i>
				</div>
		</div>
	</div>
	
	<div class="row justify-content-center align-items-center" style="height: 15vh; margin: 0;">
		<div class="form-group">
			<h3>Define Score Range</h3><br>
				<form onsubmit="updateRange()">
                    <input type="text" name="" id="grd1" value="A">
                    <input type="number" name="" id="grade1" value="75">
                     <input type="number" name="" id="grade2" value="100"><br>
                     <input type="text" name="" id="grd2" value="B">
                     <input type="number" name="" id="grade3" value="50">
                      <input type="number" name="" id="grade4" value="74"><br>
                      <input type="text" name="" id="grd3" value="C">
                      <input type="number" name="" id="grade5" value="25">
                      <input type="number" name="" id="grade6" value="49"><br>
                      <input type="text" name="" id="grd4" value="D">
                      <input type="number" name="" id="grade7" value="0">
                   <input type="number" name="" id="grade8" value="24">
				<br>
						<input type="submit" class="btn btn-primary form-control" value="Submit" style="margin: 10px;width: 35vh;"><br>
						<input type="reset" class="btn btn-secondary form-control" style="margin: 10px;width: 35vh;">
					
				</form>
		</div>
	</div>