<div class="row justify-content-center align-items-center" style="height: 45vh; margin: 0;">
		<div class="vertical-menu">
		 	<a routerLink="pageName=result" style="text-align-last: center;font-size: large;">Student result</a><br>
			<a routerLink="pageName=update_mark" style="text-align-last: center;font-size: large;">Update student marks</a><br>
			<a routerLink="pageName=grade_wise_list" style="text-align-last: center;font-size: large;">List the student based on grade</a><br>
			<a routerLink="pageName=specific_grade" style="text-align-last: center;font-size: large;">Student list on specific grade</a><br>
			<a routerLink="pageName=sub_wise_rankholder" style="text-align-last: center;font-size: large;">Subject wise rankholder</a><br>
			<a routerLink="pageName=view_score_range1" style="text-align-last: center;font-size: large;">View Score Range</a><br>
		</div>	
	</div>